ENVIRONMENT="DEV"

# Log Configurations
LOG_LEVEL="INFO"
LOG_FORMAT="%(asctime)s %(levelname)-5s [%(name)-25s] %(message)s"
LOG_FILE=""./logs/ledger_converter.log"
LOG_TO_CONSOLE="true"

# Ledger Configs
LEDGER_FILE="./tests/ledger_test.ledger"

# Ledger Converter Config
INPUT_FOLDER="/input/files/"
OUTPUT_FILENAME="output.txt"
ALIASES_FILE="input/config/accounts_aliases.txt"
ACCOUNTS_FILE="input/config/accounts.txt"

# Ledger Reports Config
EXPORT_CSV_FILENAME="input/reports/ledgerExport.csv"